.btn-danger {
    color: $white;
    background: $gradient!important;
    min-width: 18.375rem;
    border-color: #FF3038;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 1px 7px 3px rgba(255, 51, 57, 0.44), inset 0px 4.32166px 21.6083px rgba(0, 0, 0, 0.14);
    &:focus,
    &:hover,
    &:active {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 1px 7px 3px rgba(255, 51, 57, 0.44), inset 0px 4.32166px 21.6083px rgba(0, 0, 0, 0.14);
        color: $white;
        background-color: $gradient;
        border-color: #FF3038;
    }
    @include media-breakpoint-down(md) {
        font-size: 1rem;
        border-radius: 1.438rem;
        padding: .75rem 1rem;
        min-width: 13.625rem;
    }
}

.btn-link {
    font-size: .75rem;
    @include media-breakpoint-down(md) {
        font-size: .875rem;
    }
    @include media-breakpoint-up(xxxxl) {
        font-size: 1.25rem;
    }
}
