.form-control {
    border-top-left-radius: $border-radius!important;
    border-bottom-left-radius: $border-radius!important;
    border-left: 0!important;
    &::placeholder {
        color: $white;
        font-size: 1rem;
    }
    &:focus {
        box-shadow: none;
        border-color: transparent;
    }
}

.input-group-text {
    position: relative;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-right: 0!important;
    &::after {
        content: "";
        display: inline;
        width: .1rem;
        height: 2.5rem;
        background-color: $light-255;
        border-radius: .188rem;
        position: absolute;
        top: 0;
        right: 0;
        @include media-breakpoint-down(md) {
            height: 1.5rem;
            top: 3px;
        }
    }
}

.contact-form {
    .form-control {
        font-size: .75rem;
        color: $gray-159;
        background-color: $light-255!important;
        border-radius: 0!important;
        border: none;
        padding: 1rem 1.25rem;
        &::placeholder {
            color: $gray-159;
            font-size: .75rem;
            @include media-breakpoint-down(md) {
                font-size: .625rem;
            }
        }
        &:focus {
            box-shadow: none;
        }
        @include media-breakpoint-down(md) {
            font-size: .625rem;
            padding: .47rem .75rem;
        }
    }
}

.invalid-feedback {
    font-weight: 300;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    box-shadow: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: transparent;
    background-image: none;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    border-color: transparent;
    background-image: none;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: transparent;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    border-color: transparent;
}

.invalid-feedback {
    text-align: start;
    padding-left: 3rem;
    margin-top: .125rem;
}

@include media-breakpoint-down(md) {
    .input-group-text {
        padding: .5rem;
    }
    .form-control {
        border: none;
        font-size: .688rem;
        padding: .5rem;
        &::placeholder {
            font-size: .688rem;
        }
    }
}
